.container {
  max-width: 1200px; }
  .container .red {
    color: red;
    font-size: 40px;
    border-bottom: 2px solid #000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
